# Go build artifacts
/bin/
/dist/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
# /go.sum
# /go.work.sum

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs and debug
*.log
*.bak
*.tmp
*.cache

# Dependency/package managers
vendor/

# GoReleaser artifacts
release/
checksums.txt

# Git
*.orig
*.patch
*.rej

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
.syac.yml
# Docker
*.tar
*.img
syac
environments/*.env
environments/feature.env
environments/mr.env
.DS_Store
PIPELINE_FLOW.md
